.tag {
    padding: 8px;
    border-radius: 20px;
    font-weight: regular;
    font-size: 13px;
    line-height: 19px;
    color:tomato;
  }
  
  .tag a {
    text-decoration: none;
    color: #0d2e32;
  }
  
  .tag-primary {
    background: #c5eaf0;
  }
  
  .tag-secondary {
    background: #b5dbf5;
  }
  