#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  padding: 0 24px;;
  width: 100%;
  max-width: 1180px;
}

.main-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
  max-width: 1180px;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}

.featured-posts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px 0;
  margin-bottom: 90px;
}

.featured-posts article {
  height: 630px;
  width: 100%;
  background-color: #0d2e32;
}

.featured-posts .button-container {
  display: flex;
  gap: 32px;
}

.featured-posts button {
  width: 54px;
  height: 42px;
  font-size: 0;
  border: none;
  background-color: #35b6c8;
}

body > footer {
  height: 290px;
  width: 100%;
  background-color: #0d2e32;
  padding: 0 24px;;
  margin-top: 90px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

a {
  text-decoration: none;
}

.paragraph {
  color: #3c5562;
}

.paragraph-sm {
  font-size: 16px;
  line-height: 22px;
}

.paragraph-xs {
  font-size: 13px;
  line-height: 19px;
}

@media (width >=992px) {

  .post-list-container {
    height: 220px;
  }

  .main-navbar {
      flex-direction: row;
  }
}