:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  background-color: aliceblue;
}




.tags-filter {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.post-list-container {
  display: flex;
  flex-direction: column;
  gap: 48px 0;
  padding: 0 24px;
}

.post-lists{
  display: grid;
}

.post-lists article:nth-child(4n){
  background-color: aqua;
}




.tag {
padding: 8px;
background-color: blue;
border-radius: 2px;
font-weight: regular;
font-size: 13px;
line-height: 19px;
color: gray;
}

.tag a {
  text-decoration: none;
  color:aquamarine;
}



@media (width >= 992px){

  .post-list-container {
      padding: 0;
  }

  .post-lists{
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 560px 430px;
      gap: 80px 24px;
  }

  .post-lists article:nth-child(4n){
      grid-column: 1/4;
  }
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

a {
  text-decoration: none;
}

.paragraph-sm {
  font-size: 16px;
  line-height: 22px;
}

.paragraph-xs {
  font-size: 13px;
  line-height: 19px;
}

